---
layout: default
---

<div id="main" role="main">

<!--
        {% if page.title %}
        <meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
        {% if page.excerpt %}
        <meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
-->
{{ content }}


<div class="selected-publications">
    {% include documents-collection-publications.html collection='publications' sort_by=page.sort_by sort_order=page.sort_order type=page.entries_layout %}
</div>

</div>
